<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periodic Table</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="periodic-table">
        <!-- Column headers -->
        {% for i in range(19) %}
        <div class="header column-header">{{ i if i != 0 else '' }}</div>
        {% endfor %}
        
        <!-- Row headers and elements -->
        {% for row_index, row in periodic_table %}
        <!-- Row header -->
        <div class="header row-header">{{ row_index + 1 }}</div>
        
        {% for element_symbol in row %}
        {% if element_symbol %}
        {% set element_info = element_ids.get(element_symbol, ('', '', '')) %}
        <div class="element" data-id="{{ element_info[0] }}" data-name="{{ element_info[1] }}" data-mass="{{ element_info[2] }}">
            <div class="symbol">{{ element_symbol }}</div>
            <div class="details">
                <div class="name">{{ element_info[1] }}</div>
                <div class="mass">{{ element_info[2] }}</div>
            </div>
        </div>
        {% else %}
        <div class="empty-element"></div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <script>
        document.querySelectorAll('.element').forEach(function(el) {
            el.addEventListener('mouseenter', function() {
                var elementId = this.getAttribute('data-id');
                console.log('Hovering over element with ID:', elementId);
                fetch(`/led_on/${elementId}`).then(response => console.log(`LED on for element ID: ${elementId}`));
            });
            el.addEventListener('mouseleave', function() {
                var elementId = this.getAttribute('data-id');
                fetch(`/led_off/${elementId}`).then(response => console.log(`LED off for element ID: ${elementId}`));
            });
        });
    </script>
</body>
</html>

