<!DOCTYPE html>
<html>
<head>
    <title>Periodic Table</title>
    <!-- Add any additional head elements here (like CSS links) -->
</head>
<body>
    <h1>Periodic Table of Elements</h1>
    <table>
        <tr>
            <th>Atomic Number</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Atomic Mass</th>
            <th>Category</th>
        </tr>
        {% for element in elements %}
        <tr>
            <td>{{ element.atomic_number }}</td>
            <td>{{ element.symbol }}</td>
            <td>{{ element.name }}</td>
            <td>{{ element.atomic_mass }}</td>
            <td>{{ element.category }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
