<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Periodic Table</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="periodic-table">
            {% for row_index, row in periodic_table %}
                <div class="periodic-row">
                    {% for element in row %}
                        {% if element %}
                            <div class="element">{{ element }}</div>
                        {% else %}
                            <div class="empty-element"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>