.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 80px); /* Increase the size of columns */
  grid-auto-rows: 80px; /* Increase the size of rows */
  grid-gap: 5px; /* You can adjust the gap if needed */
  justify-content: center;
  margin: 20px auto; /* Centers the table with automatic margins on the sides */
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  min-width: 80px; /* New minimum width */
  min-height: 80px; /* New minimum height */
  padding: 5px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}

.periodic-row {
  display: contents; /* This will make sure the row doesn't affect the grid layout */
}


.symbol {
  font-size: 1.4rem; /* You might need to adjust this depending on your content */
  margin-bottom: 0.5rem;
}

.name, .mass {
  font-size: 0.8rem; /* Adjust the font size so that the text fits */
  text-align: center; /* Center the text horizontally */
}

/* For responsiveness on smaller screens */
@media (max-width: 768px) {
  .element {
      min-height: 40px; /* Smaller height for smaller screens */
      min-width: 40px; /* Smaller width for smaller screens */
      padding: 2px;
  }

  .symbol, .name, .mass {
      font-size: 0.6rem; /* Further reduce the font size for smaller screens */
  }
}
  
  /* Add specific styles for element categories */
  .noble-gas { background-color: #FFDDC1; }
  .alkali-metal { background-color: #FF6666; } /* Light Red */
  .alkaline-earth-metal { background-color: #FFDEAD; } /* Light Orange */
  .lanthanoid { background-color: #9E9E9E; } /* Gray */
  .actinoid { background-color: #9E9E9E; } /* Gray, often same as lanthanoids */
  .transition-metal { background-color: #F4C2C2; } /* Pink */
  .post-transition-metal { background-color: #77DD77; } /* Light Green */
  .metalloid { background-color: #C9FFE5; } /* Mint */
  .halogen { background-color: #B2FFFF; } /* Light Cyan */
  .nonmetal { background-color: #C0C0C0; } /* Silver */
  .unknown-properties { background-color: #FFFFFF; } /* White for unknown properties */


/* Trying to make it so when I hover mouse over element it highlight it another color */
.element {
  /* Existing styles... */
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

.element:hover {
  background-color: #ADD8E6; /* Light blue background on hover, change as desired */
}


